body {
  background-image: url('./images/background-images/many-books.jpg');
  background-size: cover;
  background-image: contain;
  background-attachment: fixed;
  min-height: 100vh;
}

h1 {
  display: flex;
  align-items: center;
}

button.is-warning {
  styles woooo

  &:hover {
    background-color: red;
    color: white;
  }
}


#background-change {
  background-position: center;
  background-size: cover;
  background-image: contain;
  transition: background-image 2s ease;
}

.section {
  background-color: rgba(0, 0, 0, 0.4);
}

.column {
  display: flex;
  justify-content: center;
}

.card {
  max-width: 222px;
}

.img-showpage {

}

.showpage {
  background-color: rgba(0, 0, 0, 0.8);
}

.searchbar {
  display: flex;
  justify-content: space-around;
}

.archive-images {
  display: flex;
  flex: space-around;
  width: 222px;
  height: 335px;
}

.control {
  margin-bottom: 25px;
}

// .img-showpage {
//   height: 150px;
// }

figure.image {
  display: flex;
  height: 350px;
  max-height: 350px;
  // background-position: center;
  // background-size: contain;
}

img.is-rounded {
    display: flex;
    justify-content: space-around;
    display: block;
    height: 160px;
    width: 160px;
}

.card-content{
  p {
      text-align: center;
  }
}

.control {
  padding-top: 10px;
}


.books {
    display: flex;
    justify-content: space-around;
  }

.logohome {
  display: flex;
  align-items: center;
}

.card-header {
  justify-content: center;
  text-decoration: none;
}

.card.bookcover {
  border-radius: 10px;
}

.home-container {
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-image: contain;
  height: 100vh;


  .title-container {
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 600px;
    border-radius: 10px;

    h1 {
      justify-content: center;
    }


    .title {
      font-size: 70px;
      text-shadow: 2px 2px 2px black;
    }
    .subtitle {
      color: white;
      font-size: 50px;
      text-shadow: 2px 2px 2px black;
    }
    button {
      font-size: 20px;
      width: 130px;
      border-radius: 15px;
      margin-bottom: 20px;
    }
  }
}
